name: docs

# Build Documentation using MkDocs
# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  [push]

jobs:
  lint:
    name: Lint Documentation
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout main
        uses: actions/checkout@v4

      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v19
        continue-on-error: true
        with:
          globs: '**/*.md'

  build:
    name: Build and Deploy Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4

      - name: Set up Python 3.x
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material
          pip install mkdocstrings-python
          pip install mkdocs-jupyter
          pip install mkdocs-mermaid2-plugin

      - name: Deploy
        run: |
          git pull
          mkdocs gh-deploy